.wrapper {}

img {
  width: 100%;
  max-width: 300px;
}

#top {
  background-color: seagreen;
}

#left {
  background-color: teal;
}

#main {
  background-color: skyblue;
}

#bottom {
  background-color: forestgreen;
}
