.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr 80px;
  min-height: 500px;
}

img {
  width: 100%;
  max-width: 300px;
}

#top {
  background-color: seagreen;
  grid-column: span 2;
  padding-left: 2%;
  color: white;
}

#top h1 {
  font-weight: 100;
}

#left {
  background-color: teal;
  padding: 6%;
}

#main {
  background-color: skyblue;
  padding: 10px;
}

#bottom {
  background-color: forestgreen;
  grid-column: span 2;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}
